<div>
<%= link_to "Create new coupon", new_merchant_coupon_path(@merchant) %>
<div id="active_coupons">
<h2> Active Coupons </h2>
<% @merchant.coupons.each do |c| %>
  <% if c.status == 'active' %>
    <p> Coupon Name: <%= link_to c.name, merchant_coupon_path(@merchant, c) %> </p> 
    <p> Coupon status: <%= c.status %> </p>
    <% if c.pennies_off %>
     <p> Pennies Off: <%= c.pennies_off %> </p>
     <% end %>
    <% if c.percent_off %>
      <p>Percentage Off: <%= c.percent_off %></p>
    <% end %>
  <% end %>
<% end %>
</div>
<div id="inactive_coupons">
<h2> Inactive Coupons </h2>
  <% @merchant.coupons.each do |c| %>
    <% if c.status == 'inactive' %>
      <p> Coupon Name: <%= link_to c.name, merchant_coupon_path(@merchant, c) %> </p> 
      <p> Coupon status: <%= c.status %> </p>
      <% if c.pennies_off %>
      <p> Pennies Off: <%= c.pennies_off %> </p>
      <% end %>
      <% if c.percent_off %>
        <p>Percentage Off: <%= c.percent_off %></p>
      <% end %>
    <% end %>
<% end %>
</div>
<h3>Upcoming Holidays:<h3>
<p>Holiday Name: <%=@holiday_1[0]%></p>
<p>Holiday Date: <%=@holiday_1[1]%></p>
<p>Holiday Name: <%=@holiday_2[0]%></p>
<p>Holiday Date: <%=@holiday_2[1]%></p>
<p>Holiday Name: <%=@holiday_3[0]%></p>
<p>Holiday Date: <%=@holiday_3[1]%></p>
